 .square {
      background: #fff;
      border: 1px solid #999;
      float: left;
      font-size: 24px;
      font-weight: bold;
      line-height: 34px;
      height: 34px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 34px;
    }

    .board-grid {
      display: grid;
      grid-template-columns: repeat(3, 34px);
      grid-gap: 0;
      width: fit-content;
      margin: 20px auto;
    }

    .game {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }

    .game-info {
      margin-top: 20px;
      text-align: center;
    }
